DB_NAME=gesthar_db
DB_USER=gesthar_user
DB_PASSWORD=gesthar_password
DB_HOST=127.0.0.1
DB_PORT=5432
DEBUG=true
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=null
EMAIL_HOST_PASSWORD=null
ACCESS_TOKEN=
TERMINAL_ID=
EXTERNAL_CAIXA_ID=