# Django
SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://seudominio.com.br

# Banco de dados (PostgreSQL)
DB_NAME=gesthar_db
DB_USER=gesthar_user
DB_PASSWORD=gesthar_password
DB_HOST=127.0.0.1
DB_PORT=5432

# E-mail (SMTP Gmail)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=seuemail@gmail.com
EMAIL_HOST_PASSWORD=senha-de-app-do-gmail

# Mercado Pago
ACCESS_TOKEN=
TERMINAL_ID=
EXTERNAL_CAIXA_ID=
MP_WEBHOOK_SECRET=
# Em desenvolvimento com ngrok, definir como True (ngrok substitui x-request-id quebrando a assinatura)
# Em produção, remover ou deixar False
MP_SKIP_WEBHOOK_SIGNATURE=False
