version: '3.8'

services:
  web:
    image: frjunioalves/gesthar_pdv:latest
    command: python manage.py runserver 0.0.0.0:8000
    pull_policy: always1
    ports:
      - "8000:8000"
    environment:
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - GIT_TOKEN=${GIT_TOKEN}
      - DEBUG=${DEBUG}