version: '3.8'

services:
  # Serviço da Aplicação Django
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app  # Espelha seu código local para dentro do container (hot-reload)
    ports:
      - "8000:8000"
    env_file:
      - .env
