<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Gesthar - login</title>
</head>
<body class="flex flex-col items-center justify-center bg-gray-50">
    <div>
        <img src="#" alt="logo gesthar">
    </div>
    
    <div class="bg-pink-100">
        <img src="##" alt="logo linda gestante">
        <h2 class="text-center">BEM-VINDO(A) AO <span class="font-bold">GESTHAR</span></h2>
        <h4 class="text-center">SISTEMA DE GESTÃO!</h4>
        
        <div>
            <label for="usuario">Usuário</label>
            <input type="text" id="usuario" placeholder="INSIRA SEU USUÁRIO">
        </div>
        
        <div>
            <label for="senha">Senha</label>
            <input type="password" id="senha" placeholder="INSIRA SUA SENHA">
        </div>
        
        <a href="#">Esqueceu sua senha? Clique aqui.</a>
        <button class="bg-pink-500 text-white">ENTRAR</button>
    </div>

    <footer>&copy;Gesthar - 2025</footer>
</body>
</html>