{% load static %}

<aside class="w-25 shadow d-flex flex-column sidebar-global vh-100 position-sticky top-0">
    <div class="p-4">
        <img src="{% static 'images/logo_lg.png' %}" alt="Logo" class="mx-auto mb-2" />
    </div>

    <nav class="flex-grow-1 p-4 d-flex flex-column gap-2">
        <div class="mb-2">
            <a class="w-100 d-flex align-items-center justify-content-between p-2 fw-semibold link-sidebar collapsed"
                data-bs-toggle="collapse" href="#ponto-venda" role="button" aria-expanded="false"
                aria-controls="ponto-venda">
                <span class="ms-2 text-start">PONTO DE VENDA</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="chev text-secondary" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </a>
            <div class="collapse ms-4 mt-2" id="ponto-venda">
                <a href="#" class="d-block p-2 link-sidebar">REALIZAR VENDA</a>
                <a href="#" class="d-block p-2 link-sidebar">CONSULTAR VENDAS</a>
            </div>
        </div>

        <div class="mb-2">
            <a class="w-100 d-flex align-items-center justify-content-between p-2 fw-semibold link-sidebar collapsed"
                data-bs-toggle="collapse" href="#produtos-menu" role="button" aria-expanded="false"
                aria-controls="produtos-menu">
                <span class="ms-2 text-start">PRODUTOS</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="chev text-secondary" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </a>

            <div class="collapse ms-4 mt-2" id="produtos-menu">
                <a href="{% url 'product:product-create' %}" class="d-block p-2 link-sidebar">CADASTRAR
                    PRODUTO</a>
                <a href="{% url 'product:product-list' %}" class="d-block p-2 link-sidebar">CONSULTAR
                    PRODUTOS</a>
            </div>
        </div>

        <div class="mb-2">
            <a class="w-100 d-flex align-items-center justify-content-between p-2 fw-semibold link-sidebar collapsed"
                data-bs-toggle="collapse" href="#clientes-menu" role="button" aria-expanded="false"
                aria-controls="clientes-menu">
                <span class="ms-2 text-start">CLIENTES</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="chev text-secondary" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </a>

            <div id="clientes-menu" class="collapse ms-4 mt-2">
                <a href="{% url 'customer:customer_create' %}" class="d-block p-2 link-sidebar">CADASTRAR CLIENTE</a>
                <a href="{% url 'customer:customer_list' %}" class="d-block p-2 link-sidebar">CONSULTAR CLIENTES</a>
            </div>
        </div>

        <div class="mb-2">
            <a class="w-100 d-flex align-items-center justify-content-between p-2 fw-semibold link-sidebar collapsed"
                data-bs-toggle="collapse" href="#relatorios" role="button" aria-expanded="false"
                aria-controls="relatorios">
                <span class="ms-2 text-start">RELATÓRIOS</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="chev text-secondary" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </a>

            <div class="collapse ms-4 mt-2" id="relatorios">
                <a href="#" class="d-block p-2 link-sidebar">RELATÓRIO DE ESTOQUE</a>
                <a href="#" class="d-block p-2 link-sidebar">RELATÓRIO FINANCEIRO</a>
                <a href="#" class="d-block p-2 link-sidebar">RELATÓRIO DE VENDAS</a>
                <a href="#" class="d-block p-2 link-sidebar">RELATÓRIO DE DIVERGÊNCIAS</a>
            </div>
        </div>

        <div class="mb-2">
            <a class="w-100 d-flex align-items-center justify-content-between p-2 fw-semibold link-sidebar collapsed"
                data-bs-toggle="collapse" href="#usuarios" role="button" aria-expanded="false" aria-controls="usuarios">
                <span class="ms-2 text-start">USUÁRIOS</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="chev text-secondary" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </a>

            <div id="usuarios" class="collapse ms-4 mt-2">
                <a href="{% url 'accounts:register' %}" class="d-block p-2 link-sidebar">CADASTRAR USUÁRIO</a>
                <a href="{% url 'user:user-profile' %}" class="d-block p-2 link-sidebar">VISUALIZAR USUÁRIO</a>
            </div>
        </div>
    </nav>

    <div class="p-4 mt-auto text-center">
        <img src="{% static 'images/logo_gesthar.svg' %}" alt="Logo Gesthar" class="d-block mx-auto mb-3" style="height: 160px;" />

        <form action="{% url 'accounts:logout' %}" method="post" class="mt-2">
            {% csrf_token %}
            <button type="submit" class="w-100 d-flex align-items-center justify-content-center p-2 fw-semibold botao-rosa">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="me-2" style="width: 20px; height: 20px;">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                </svg>
                <span>Sair</span>
            </button>
        </form>
    </div>
</aside>