{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Gesthar - login</title>
</head>
<body class="flex flex-col p-0 items-center justify-center min-h-screen bg-gray-50 [font-family:'Montserrat',sans-serif]">

    <!-- Icone de fundo do Gesthar -->
    <div class="absolute top-0 left-0 -z-10">
        <img src="{% static 'images/ICONE-GESTHAR.svg' %}" alt="icone gesthar" class="w-[550px]">
    </div>

    <!-- Logo do Gesthar -->
    <div class="mb-4">
        <img src="{% static 'images/logo_gesthar.svg' %}" alt="logo gesthar" class="w-64">
    </div>

    <!-- Card largo -->
    <div class="bg-gray-50/70 p-10 rounded-3xl shadow-[0_5px_20px_rgba(0,0,0,0.15),0_0_30px_rgba(0,0,0,0.10)] w-full max-w-5xl">
        
        <!-- Conteúdo centralizado -->
        <div class="max-w-sm mx-auto">
            <img src="{% static 'images/logo_lg.png' %}" alt="logo linda gestante" class="mx-auto mb-4">
            <h2 class="text-center text-[#FF7690] text-xl font-bold">
                BEM-VINDO(A) AO <span class="font-bold text-xl">GESTHAR</span>
            </h2>
            <h2 class="text-center text-[#FF7690] text-xl font-bold mb-6">SISTEMA DE GESTÃO!</h2>

            <!-- Erros gerais do formulário -->
            {% if form.non_field_errors %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
                    {% for error in form.non_field_errors %}
                        <p class="text-sm">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- Formulário Django -->
            <form method="post" class="flex flex-col gap-4 px-12">
                {% csrf_token %}
                
                <!-- Campo email/username -->
                <div>
                    {{ form.username.label_tag}}
                    {{ form.username|add_class:"w-full px-3 py-1 border-2 border-gray-400 rounded-xl focus:border-pink-200 focus:ring-1 focus:ring-pink-200 transition-all duration-300 transform focus:scale-105 outline-none" }}
                </div>

                <!-- Campo senha -->
                <div>
                    {{ form.password.label_tag }}
                    {{ form.password|add_class:"w-full px-3 py-1 border-2 border-gray-400 rounded-xl focus:border-pink-200 focus:ring-1 focus:ring-pink-200 transition-all duration-300 transform focus:scale-105 outline-none" }}
                </div>

                <!-- Campo de esquecer a senha -->
                <div class="flex justify-between items-center text-sm text-gray-600 hover:text-pink-600">
                    <a href="#">Esqueceu sua senha? Clique aqui.</a>
                </div>

                <button type="submit" class="bg-[#FF7690] text-white py-2 rounded mt-2 hover:bg-pink-600 w-44 mx-auto block font-semibold">
                    ENTRAR
                </button>
            </form>
        </div>
    </div>

    <footer class="mt-8 text-sm text-gray-500">&copy;Gesthar - 2025</footer>
</body>
</html>