<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Gesthar - Sistema de Gestão</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-screen flex font-sans bg-rose-50">

    <!-- Sidebar fixa -->
    <aside class="w-64 bg-pink-20 shadow-lg flex flex-col justify-between">
        <div>
            <!-- Logo: Trocar pela logo Linda Gestante -->
            <div class="p-6 flex items-center justify-center border-b">
                <img src="logo_gesthar.png" alt="Logo" class="w-32">
            </div>

            <!-- Menu -->
            <nav class="mt-10">

                <div class="mt-4">
                    <button
                        class="w-full text-left px-6 py-3 font-medium text-gray-700 hover:bg-rose-100 flex items-center justify-between">
                        <span>PONTO DE VENDA</span>
                        <span>›</span>
                    </button>

                    <button
                        class="w-full text-left px-6 py-3 font-medium text-gray-700 hover:bg-rose-100 flex items-center justify-between">
                        <span>PRODUTOS</span>
                        <span>›</span>
                    </button>
                </div>

                <div>
                    <button
                        class="w-full text-left px-6 py-3 font-medium text-gray-700 hover:bg-rose-100 flex items-center justify-between">
                        <span>CLIENTES</span>
                        <span>›</span>
                    </button>
                </div>

                <div>
                    <button
                        class="w-full text-left px-6 py-3 font-medium text-gray-700 hover:bg-rose-100 flex items-center justify-between">
                        <span>RELATÓRIOS</span>
                        <span>›</span>
                    </button>
                </div>

                <div>
                    <button
                        class="w-full text-left px-6 py-3 font-medium text-gray-700 hover:bg-rose-100 flex items-center justify-between">
                        <span>USUÁRIOS</span>
                        <span>›</span>
                    </button>
                </div>
                <div>
                    <img src="logo_gesthar.png" alt="Logo Gesthar" class="w-32 mx-auto">
                </div>
                <div class="items-center px-4 py-2">
                    <span class="text-sm text-gray-500">&copy; 2025 Gesthar. Todos os direitos reservados.</span>
                </div>
            </nav>
        </div>



    </aside>

    <!-- Conteúdo principal -->
    <main class="flex-1 p-10">
        <!-- Substitir daqui para baixo pelo conteúdo de cada tela -->
        <h1 class="text-gray-700 font-medium text-lg">Bem-vindo ao Sistema</h1>
        <p class="text-gray-500 mt-2">Selecione uma opção no menu ao lado para começar.</p>
    </main>

</body>

</html>